
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <h1>Collage management system</h1>
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" style="cursor:pointer"
          routerLink="/create-course"
        >Manage Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="cursor:pointer"
        routerLink="/create-subject"
        >Manage Subjects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="cursor:pointer"
        routerLink="/create-teacher"
        >Manage Teachers</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" style="cursor:pointer"
        routerLink="/design-course"
        >Course Subjects Teacher</a>
    </li>
    

    <li class="nav-item">
        <a class="nav-link" style="cursor:pointer"
        routerLink="/create-student"
        >Manage Student</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="cursor:pointer"
        routerLink="/create-grades"
        >Manage Grades</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="cursor:pointer"
        routerLink="/list-course"
        >List Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="cursor:pointer"
        routerLink="list-subjects"
        >List Subjects</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" style="cursor:pointer"
        routerLink="list-students"
        >List Students</a>
    </li>
</ul>
</div>

</nav>

